# Reducing Functions in Python

- recombines an iterable recusively, ending with a single return value

# The functools module

- reduce will handle any iterable

In [42]:
from functools import reduce

l = [1, 2, 3, 4, 5]

# returning maximum
reduce(lambda a, b: a if a > b else b, l)

5

In [43]:
# returning minimum
reduce(lambda a, b: a if a < b else b, l)

1

In [44]:
# sum the iterable
reduce(lambda a, b: a + b, l)

15

In [45]:
# working with a set
reduce(lambda a, b: a + b, {2, 1, 5, 10})

18

In [46]:
# doing string concatenation
reduce(lambda a, b: a + ' ' + b, ('python', 'is', 'awesome'))

'python is awesome'

# Built-in Reducing Functions

In [47]:
min(5, 8 ,1, 10, 15)

1

In [48]:
max(5, 8 ,10 , 3, 15)

15

In [49]:
sum([5, 1, 15, 13])

34

In [50]:
# returns True if any element is Thruty
any([4, 5, 17, 25])

True

In [51]:
# returns True if all elements are Thruty
all([0, 1, 2, 5, 15])

False

# Calculating product of all elements in an iterable

In [52]:
l = [1, 2, 3, 4]

reduce(lambda a, b: a * b, l)

24

# The reduce initializer

- third optional parameter
- defaults to None
- essentially adding in front of everything
- used to provide some kind of default if iterable is empty

In [53]:
l = [1, 2, 3]

# be careful cause 100 is added to the iterable
reduce(lambda x, y: x+ y, l, 100)

106

In [54]:
# in this case better to set initializer to 0 when sum iterables
reduce(lambda x, y: x + y, l ,0)

6